*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html,body{
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    touch-action: pan-x pan-y; 
    -ms-touch-action: pan-x pan-y;
    user-zoom: none; 
}
#box {
    width: 100vw;       
    height: 100vh;  
    height: 100dvh;    
    max-width: 100%;   
    margin: 0 auto;        
    box-shadow: none;    
    background-color: white;
    overflow: hidden;
    top: 0;
    left: 0;
    flex-direction: column;
    touch-action: pan-x pan-y; 
    -ms-touch-action: pan-x pan-y;
    user-zoom: none; 
}
#chat{
    flex-shrink: 0;
    height: 10%;
    width: 100%;
    background-color: black;
    border-radius: none;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
}
#profilebox{
    font-size: 12px;
    height: 16%;
    width: 90%;
    background: black;
    color: white;
    border-radius: 35px;
    padding: 15px;
    margin-top: 100px;
    margin-left: 5%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
#profilebox h3{
    margin-bottom: 5px;
}
.finish-btn{
  background: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 10px;
  margin-top: 8px;
  cursor: pointer;
}
#friendsContainer {
  max-height: 500px;        
  overflow-y: auto;        
  padding-bottom: 20px;
  scroll-behavior: smooth;
}
@media (max-height: 700px) {
  #friendsContainer {
    max-height: 300px;
  }
}
#friendsContainer::-webkit-scrollbar {
  width: 6px;
}
#friendsContainer::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 10px;
}
#friendsContainer::-webkit-scrollbar-track {
  background: transparent;
}
#friendsList{
    height: 100%;
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}
.friend-card{
    font-size: 12px;
    height: 10%;
    width: 100%;
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 35px;
    margin-bottom: 10px;
    padding: 15px;
    line-height: 18px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
#addFriendBtn {
  position: fixed;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  font-size: 30px;
  border-radius: 50%;
  border: none;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
#circle{
    flex-shrink: 0;
    height: 15%;
    width: 100%;
    background-color: black;
    border-radius: none;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    font-size: 35px;
    position: fixed;
    bottom:0;
    left:0;
    z-index: 100;

}
.alert-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.alert-box {
  background: #2a2a2a;
  color: #fff;
  width: 80%;
  max-width: 300px;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}
.alert-box p {
  margin-bottom: 15px;
}
.alert-box button {
  padding: 8px 18px;
  border: none;
  border-radius: 8px;
  background: black;
  color: white;
  border: 1px solid white;
  font-weight: bold;
}
.alert-box button:hover{
    background: white;
    color: black;
    border: none;
}
.hidden {
  display: none;
}



