*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
html,body{
    background: linear-gradient(135deg, black, #373637);
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    touch-action: pan-x pan-y; 
    -ms-touch-action: pan-x pan-y;
    user-zoom: none; 
}
#box {
    width: 100vw;       
    height: 100vh;  
    height: 100dvh;    
    max-width: 100%;   
    margin: 0 auto;        
    box-shadow: none;    
    background-color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    flex-direction: column;
    touch-action: pan-x pan-y; 
    -ms-touch-action: pan-x pan-y;
    user-zoom: none; 
}
#chat{
    flex-shrink: 0;
    height: 10%;
    width: 100%;
    background-color: black;
    border-radius: none;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
}
#otpbox{
    width: 80%;       
    height: 40%; 
    position: absolute;     
    background: black;
    color: white;
    border-radius: 40px;
    margin-top: 10px;
    margin-right: 1%;
    text-align: center;
    z-index: 100;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
#otpbox h4{
    font-size: 20px;
    margin-top: 40px;
}
#otp{
    height: 10%;
    width: 80%;
    background: white;
    color: black;
    border-radius: 35px;
    padding: 10px;
    border: 1px solid white;
    margin-top: 20px;
}
#Verify{
    height: 20%;
    width: 50%;
    background:black;
    color: white;
    border: 2px solid white;
    border-radius: 35px;
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
}
#Verify:hover{
    background: white;
    color: black;
    border: 2px solid black;
}
#circle{
    flex-shrink: 0;
    height: 15%;
    width: 100%;
    background-color: black;
    border-radius: none;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    font-size: 35px;
    position: fixed;
    bottom:0;
    left:0;
    z-index: 100;
}